.about-contact-page-container {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    padding-left: 7.5%;
    width: 85%;

    .basic-page-container {

        .basic-page-header {

        }

        .basic-page-splitter {

        }

        .basic-page-body {

            .about-contact-content-container {

                .about-text-container {
                    color: white;
                    background-color: brown;
                }

                .about-contact-form-contact {
                    background-color: blue;

                    .contact-form {
                        padding: 20px;
                        display: grid;
                        grid-template-columns: [leftColumn-s] 10% [leftColumn-e rightColumn-s] 90% [rightColumn-e];
                        grid-template-rows: [top-s] 1fr [top-e middle-s] 1fr [middle-e bottom-s] 1fr [bottom-e];
                        justify-content: center;
                        grid-gap: 20px;
                        padding-left: 20%;
                        padding-right: 20%;

                        .contact-form-name-title {
                            grid-column: leftColumn-s / leftColumn-e;
                            grid-row: top-s / top-e;
                            color: white;
                            font-size: 1.5em;
                            font-weight: 600;
                            margin-bottom: 10px;
                        }

                        .contact-form-name {
                            grid-column: rightColumn-s / rightColumn-e;
                            grid-row: top-s / top-e;
                        }

                        .contact-form-message-title {
                            grid-column: leftColumn-s / leftColumn-e;
                            grid-row: middle-s / middle-e;
                            color: white;
                            font-size: 1.5em;
                            font-weight: 600;
                            margin-bottom: 10px;
                        }

                        .contact-form-message {
                            grid-column: rightColumn-s / rightColumn-e;
                            grid-row: middle-s / middle-e;
                        }

                        .contact-form-email-title {
                            grid-column: leftColumn-s / leftColumn-e;
                            grid-row: bottom-s / bottom-e;
                            color: white;
                            font-size: 1.5em;
                            font-weight: 600;
                            margin-bottom: 10px;
                        }

                        .contact-form-email {
                            grid-column: rightColumn-s / rightColumn-e;
                            grid-row: bottom-s / bottom-e;
                        }   
                    }
                }
            }
        }
    }
}