.create-post-page {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    padding-left: 7.5%;
    width: 85%; 
}

.create-story-form {
    // background-color: yellow;
    color: $white-text;
    padding: 0 20px 0 20px;

    .form1 {
        // background-color: skyblue;
        display: grid;
        height: min-content;

        grid-template-columns: [title-s] 3fr [title-e shipTag-s] 2fr [shipTag-e locationTag-s] 1fr [locationTag-e activityTag-s] 1fr [activityTag-e typeTag-s] 1fr [typeTag-e];
        grid-template-rows: [titles-s] auto [titles-e top-s] auto [top-e titles2-s] auto [titles2-e bottom-s] auto [bottom-e];
        grid-row-gap: 10px;
        grid-column-gap: 10px;

        .title-title {
            grid-column: title-s / title-e;
            grid-template-rows: titles-s / titles-e;
            justify-self: start;
            font-family: 'Poppins', sans-serif;
        }

        .form-title {
            grid-column: title-s / title-e;
            grid-row: top-s / top-e;
            border-radius: 5px;
            border-style: none;
            font-family: 'Poppins', sans-serif;
        }

        .title-story {
            grid-column: title-s / title-e;
            grid-row: titles2-s / titles2-e;
            justify-self: start;
            font-family: 'Poppins', sans-serif;
        }
        
        .form-story {
            grid-column: title-s / tags-e;
            grid-row: bottom-s / bottom-e;
            height: 200px;
            border-radius: 10px;
            border-style: none;
            font-family: 'Poppins', sans-serif;
        }

        .title-ship-tag {
            grid-column: shipTag-s / shipTag-e;
            grid-row: titles-s / titles-e;
            justify-self: start;
            font-family: 'Poppins', sans-serif;
        }

        .ship-tag-select {
            grid-column: shipTag-s / shipTag-e;
            grid-row: top-s / top-e;
            border-radius: 5px;
            border-style: none;
            background-color: $ship-tag-color;
            font-family: 'Poppins', sans-serif;
        }

        .title-location-tag {
            grid-column: locationTag-s / locationTag-e;
            grid-row: titles-s / titles-e;
            justify-self: start;
            font-family: 'Poppins', sans-serif;
        }

        .location-tag-select {
            grid-column: locationTag-s / locationTag-e;
            grid-row: top-s / top-e;
            border-radius: 5px;
            border-style: none;
            background-color: $location-tag-color;
            font-family: 'Poppins', sans-serif;
        }

        .title-activity-tag {
            grid-column: activityTag-s / activityTag-e;
            grid-row: titles-s / titles-e;
            justify-self: start;
            font-family: 'Poppins', sans-serif;
        }

        .activity-tag-select {
            grid-column: activityTag-s / activityTag-e;
            grid-row: top-s / top-e;
            border-radius: 5px;
            border-style: none;
            background-color: $activity-tag-color;
            font-family: 'Poppins', sans-serif;
        }

        .title-type-tag {
            grid-column: typeTag-s / typeTag-e;
            grid-row: titles-s / titles-e;
            justify-self: start;
            font-family: 'Poppins', sans-serif;
        }

        .type-tag-select {
            grid-column: typeTag-s / typeTag-e;
            grid-row: top-s / top-e;
            border-radius: 5px;
            border-style: none;
            background-color: $type-tag-color;
            font-family: 'Poppins', sans-serif;
        }

    }

    .img-preview-container {
        // background-color: red;
        display: grid;
        padding: 10px 0px 10px 0px;

        grid-template-columns: [img1-s] 1fr [img1-e img2-s] 1fr [img2-e img3-s] 1fr [img3-e];
        grid-template-rows: [imgs-s] auto [imgs-e buttons-s] auto [buttons-e];
        // grid-row-gap: 10px;

        .image-prev0 {
            grid-column: img1-s / img1-e;
            grid-row: imgs-s / imgs-e;
            display: grid;

            .img-prev {
                display: flex;
                height: 300px;
                width: auto;
                justify-self: center;
                font-family: 'Poppins', sans-serif;
            }

            .svg-inline--fa {
                height: 200px;
                padding: 20px;
                justify-self: center;
            }

            .thumb-img {
                height: 200px;
                padding: 20px; 
                justify-self: center;
            }

            .delete-btn-active {
                grid-row: buttons-s / buttons-e;
                font-family: 'Poppins', sans-serif;
                opacity: 100%;
                font-size: 15px;
                transition: all 1.2s ease-in-out;
            }

            .delete-btn-notactive {
                grid-row: buttons-s / buttons-e;
                font-family: 'Poppins', sans-serif;
                opacity: 0%;
                font-size: 0px;
                transition: all 1.2s ease-in-out;
            }
        }
        .image-prev1 {
            grid-column: img2-s / img2-e;
            grid-row: imgs-s / imgs-e;
            display: grid;

            .img-prev {
                display: flex;
                height: 300px;
                width: auto;
                justify-self: center;
                font-family: 'Poppins', sans-serif;
            }

            .svg-inline--fa {
                height: 200px;
                padding: 20px;
                justify-self: center;
            }

            .thumb-img {
                height: 200px;
                padding: 20px; 
                justify-self: center;
            }

            .delete-btn-active {
                grid-row: buttons-s / buttons-e;
                font-family: 'Poppins', sans-serif;
                opacity: 100%;
                font-size: 15px;
                transition: all 1.2s ease-in-out;
            }

            .delete-btn-notactive {
                grid-row: buttons-s / buttons-e;
                font-family: 'Poppins', sans-serif;
                opacity: 0%;
                font-size: 0px;
                transition: all 1.2s ease-in-out;
            }
        }
        .image-prev2 {
            grid-column: img3-s / img3-e;
            grid-row: imgs-s / imgs-e;
            display: grid;

            .img-prev {
                display: flex;
                height: 300px;
                width: auto;
                justify-self: center;
                font-family: 'Poppins', sans-serif;
            }

            .svg-inline--fa {
                height: 200px;
                padding: 20px;
                justify-self: center;
            }

            .thumb-img {
                height: 200px;
                padding: 20px; 
                justify-self: center;
            }

            .delete-btn-active {
                grid-row: buttons-s / buttons-e;
                font-family: 'Poppins', sans-serif;
                opacity: 100%;
                font-size: 15px;
                transition: all 1.2s ease-in-out;
            }

            .delete-btn-notactive {
                grid-row: buttons-s / buttons-e;
                font-family: 'Poppins', sans-serif;
                opacity: 0%;
                font-size: 0px;
                transition: all 1.2s ease-in-out;
            }
        }

    }

    .img-uploaders {
        // background-color: aquamarine;
        display: flex;
        justify-self: start;
        padding: 0 20% 0;
        

        .no-upload-allowed {
            transition: all 1.2s ease-in-out;
            font-size: 13px;
            opacity: 0%;
            // height: 0px;
        }

        .upload-allowed {
            transition: all 1.2s ease-in-out;
            color: white;
            font-size: 13px;
            opacity: 100%;
            // height: auto;
        }

    }

    .btn-img-upload {
        background-color: orange;

    }
}