.create-post-page {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    padding-left: 7.5%;
    width: 85%; 
}

.create-story-form {
    background-color: yellow;

    .form1 {
        background-color: skyblue;

    }

    .img-preview-container {
        background-color: red;

    }

    .img-uploaders {
        background-color: aquamarine;

    }

    .btn-img-upload {
        background-color: orange;

    }
}