$bg-color: #131a21;
$banner-color: #296D94;
$type-tag-color: #DEFF0B;
$activity-tag-color: #FFB300;
$location-tag-color: #42A0FF;
$ship-tag-color: #6BFFE6;
$white-text: #E9E9E9;
$light-gray-text: #929292;
$drop-tab-color: #164664;
$tab-back-drop-color: #131a21;